node_modules
.env
.env.*
dist
build
*.log
.vscode
.DS_Store
coverage
*.pid
*.pid.lock
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tgz
.envrc
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
*.tfstack.log
*.tfstack.log.json
*.backup
Thumbs.db

# Backend specific
homefinder-backend/config/*.env
homefinder-backend/.env
homefinder-backend/.env.*
homefinder-backend/node_modules
homefinder-backend/dist
homefinder-backend/build
homefinder-backend/public/uploads/*